<div class="hero-unit font-gray hero-setting">
     <div class="wrap-small">
          <h1><%= t("alert.permission")%></h1>
          <br />
          <br />
          <p>
               <b><%= @permissionErrorMsg %></b>
          </p>
     </div>
</div>
