



	<h3 class="staff-group-id" staff-drag-group="draggable" staff-group-id="<%= @newSquad.nr %>"><%= @newSquad.name %>
		<a class="btn btn-small btn-danger setting-delete-btn pull-right hide" >删除</a>
		<p class="pull-right setting-staff-count">
			人数：0
		</p>
	</h3>
	<div class="group-container">
		<ul>
		</ul>
	</div>