

<h1>Newbie</h1>
<h4>logout</h4>

<%= label_tag nil, "请扫描员工号："%><br />
<%= text_field_tag :staffID, nil, :onkeypress=>"return register_attendance(event);"%>
<span id="result"></span>

<script type="text/javascript">
function register_attendance(event){
	var e = event ? event : (window.event ? window.event : null);
	if(e.keyCode == 13)
		$.post("./operation",
			{staffID: $('#staffID').val()},
			function(data){
				$('#result').html(data.msg);
		}, 'json'	);
}
</script>